{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}
{% block head %}
<script>
    function editTicket(row, ticket_id) {
        document.getElementById("update_id").value = ticket_id;
        document.getElementById("update_name").value = row.children[0].innerHTML;
        document.getElementById("update_quantity").value = row.children[1].innerHTML;
        document.getElementById("update_price").value = row.children[2].innerHTML;
        document.getElementById("update_exp_date").value = row.children[3].innerHTML;
    }

    function buyTicket(row, ticket_id) {
        document.getElementById("buy_id").value = ticket_id;
        document.getElementById("buy_name").value = row.children[0].innerHTML;
        document.getElementById("buy_quantity").value = row.children[1].innerHTML;
        document.getElementById("buy_price").value = row.children[2].innerHTML;
        document.getElementById("buy_exp_date").value = row.children[3].innerHTML;
    }
</script>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Hi {{ user.name }}</h2>
<h4 id='message'>{{message}}</h4>
<a id="logout" href='/logout'>logout</a>

<h3 id="balance">Your balance is ${{ user.balance }}</h3>

<h2 >Here are all available tickets</h2>

<div id="tickets">
    <table>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Expiry</th>
            <th>Actions</th>
        </tr>
        {% for ticket in tickets %}
        <tr id="ticket-{{ ticket.name }}">
            <td id="ticket-{{ ticket.name }}-name">{{ ticket.name }}</td>
            <td id="ticket-{{ ticket.name }}-quantity">{{ ticket.quantity }}</td>
            <td id="ticket-{{ ticket.name }}-price">{{ ticket.price }}</td>
            <td id="ticket-{{ ticket.name }}-date">{{ ticket.date }}</td>
            {% if ticket.user == user.id %}
            <td><button onclick="editTicket(this.parentElement.parentElement, {{ ticket.id }})">Edit</button></td>
            {% else %}
            <td><button id="ticket-{{ ticket.name }}-buy" onclick="buyTicket(this.parentElement.parentElement, {{ ticket.id }})">Buy</button></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
<br/>
<h2>Add new ticket to sell</h2>
<form id="sell-ticket" action="/sell" method="POST">
    Name: <input id="sell_name" type="text" name="name"/><br/>
    Quantity: <input id="sell_quantity" type="number" name="quantity"/><br/>
    Price: <input id="sell_price" type="number" name="price"/><br/>
    Expiration Date (YYYMMDD): <input id="sell_exp_date" type="text" name="date"/><br/>
    <input type="hidden" value="{{ user.email }}" name="user"/>
    <input id="sell_submit" type="submit"/>
</form>
<br/>
<h2>Buy tickets</h2>
<form id="buy-ticket" action="/buy" method="POST">
    <input type="hidden" id="buy_id" name="ticket_id"/>
    Name: <input disabled id="buy_name" type="text" name="name"/><br/>
    Quantity: <input disabled id="buy_quantity" type="number" name="quantity"/><br/>
    Price: <input disabled id="buy_price" type="number" name="price"/><br/>
    Expiration Date (YYYMMDD): <input disabled id="buy_exp_date" type="text" name="date"/><br/>
    <input type="hidden" value="{{ user.email }}" name="user"/>
    <input id="buy_submit" type="submit" value="Buy"/>
</form>
<br/>
<h2>Edit ticket</h2>
<form id="update-ticket" action="/update" method="POST">
    <input type="hidden" id="update_id" name="ticket_id"/>
    Name: <input id="update_name" type="text" name="name"/><br/>
    Quantity: <input id="update_quantity" type="number" name="quantity"/><br/>
    Price: <input id="update_price" type="number" name="price"/><br/>
    Expiration Date (YYYMMDD): <input id="update_exp_date" type="text" name="date"/><br/>
    <input type="hidden" value="{{ user.email }}" name="user"/>
    <input id="update_submit" type="submit" value="Save"/>
</form>

{% endblock %}
